<launch>

  <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" />

  <param name="robot_description" command="cat $(find knowledge)/hardware/kinect.xml" />
  <node name="kuka_kinect_tf" pkg="tf" type="static_transform_publisher" args="1.5 1.5 0 3.14159 0 0 base_link base_link_kinect 100"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <group ns="kuka">
    <arg name="model" default="$(find assembly_kuka_simp)/urdf/kuka_modelo.urdf"/>
    <arg name="gui" default="true" />
    <param name="robot_description" command="cat $(find assembly_kuka_simp)/urdf/kuka_modelo.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    <node name="joint_state_publisher_kuka" pkg="joint_state_publisher" type="joint_state_publisher" />
  </group>

  <group ns="hardware">
    <node name="kinect_man" pkg="kinect_mannager_2" type="kinect_mannager_2_node" output="screen"/>
    <node name="head_simul" pkg="head" type="head_simul_node.py" output="screen"/>
  </group>

  <group ns="hri">
    <node name="rviz" pkg="rviz" type="rviz"/>
  </group>

  <group ns="vision">
    <node name="obj_angle_calc" pkg="obj_angle_calc" type="obj_angle_calc_node" output="screen"/>
  </group>
    
</launch>
